<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}

<h4 style="margin-bottom:0px;padding-top:10px;">EDUCATION</h4>
<ul class="biblist">

<!-- Item: Liao2024 -->
<li ><p>
Ph.D. in Business Administration (Finance)
<br>June 2024<br>
DeGroote School of Business, McMaster University, Hamilton, ON, Canada<br>
Dissertation: Three Essays on Corporate Finance<br>
</p>
</li>

<!-- Item: Liao2007 -->
<li ><p>
M.Sc. in Finance</a>
<br>June 2007<br>
Graduate Institute of Finance, National Chiao Tung University, Hsinchu, Taiwan<br>
Thesis: The relationship between debt maturity structure and earnings management<br>
</p>
</li>

<!-- Item: Liao2005 -->
<li ><p>
B.A. in Political Science & Economics
<br>June 2005<br>
National Taiwan University, Taipei, Taiwan<br>
</p>
</li>
</ul>

<h4 style="margin-bottom:0px;padding-top:10px;">RESEARCH INTERESTS</h4>
<ul class="biblist">

<!-- Item: Liao2024 -->
<li ><p>
Corporate Finance: Dividend Policy, Capital Markets, Executive Compensation, Corporate Social Responsibility
</p>
</li>
</ul>  

<h4 style="margin-bottom:0px;padding-top:10px;">TEACHING INTERESTS</h4>
<ul class="biblist">

<!-- Item: Liao2024 -->
<li ><p>
Investments  
</p>
</li>
</ul>      

<h4 style="margin-bottom:0px;padding-top:10px;">RESEARCH</h4>
<ul class="biblist">

<!-- Item: Liao2024 -->
<p>
The curious case of one-dollar CEO salaries: Evidence from market reaction to salary decision announcements  
</p>
</ul>

<h4 style="margin-bottom:0px;padding-top:10px;">TEACHING</h4>
<ul class="biblist">

<h4 style="margin-bottom:0px;padding-top:10px;">SKILLS</h4>
<ul class="biblist">

<h4 style="margin-bottom:0px;padding-top:10px;">AWARDS AND HONOURS</h4>
<ul class="biblist">

<h4 style="margin-bottom:0px;padding-top:10px;">REFERENCES</h4>
<ul class="biblist">
  
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
