<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
    {{ content }}

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/study2.png" alt="Education" width="70" height="70"></p>
    <p align="center">&#8226 I have a <strong>Ph.D.</strong> in Business Administration (Finance), supervised by <a href="https://research.degroote.mcmaster.ca/profiles/profile/?user=adaniel" target="_blank">Prof. Danielova</a>.</p>
    <p align="center">&#8226 I received a <strong>Master</strong>´s degree from <a href="https://www.nycu.edu.tw/nycu/en" target="_blank">National Chiao Tung University</a>.</p>
    <p align="center" class="bottom-three">&#8226 I received a <strong>Political Science</strong> degree and a <strong>Economics</strong> degree from National Taiwan University.</p>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/computer2.png" alt="Computer Skills" width="70" height="70"></p>
    <p align="center">&#8226 My research interests include <strong>dividend policy</strong>, <strong>capital markets</strong>, <strong>executive compensation</strong>, and <strong>corporate social responsibility</strong>.</p> 
    <p align="center" class="bottom-three">&#8226 My teaching interests include <strong>investments</strong> and <strong>corporate finance</strong>.</p>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/business.png" alt="Conferences" width="70" height="70"></p>
    <p align="center">&#8226 I taught an undergraduate commerce course as a <strong>sessional instructor</strong> at <a href="https://www.mcmaster.ca" target="_blank">McMaster University</a>.</p>
    <P align="center" class="bottom-three">&#8226 I presented my papers at International Atlantic Economic Society Conference and Southwestern Finance Association Annual Conference.</P>
      
    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/talk.png" alt="Languages" width="70" height="70"></p>
    <p align="center">&#8226 <strong>中文</strong>是我的母語。</p>
    <p align="center">&#8226 <strong>日本語</strong>を勉強しています。</p>
    <p align="center" class="bottom-three">&#8226 My <strong>English</strong> is fluent.</p> 
    
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
