<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
    {{ content }}

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/study2.png" alt="Education" width="70" height="70"></p>
    <p align="center">&#8226 I have a <strong>Ph.D.</strong> in Business Administration (Finance), supervised by <a href="https://research.degroote.mcmaster.ca/profiles/profile/?user=adaniel" target="_blank">Prof. Danielova</a>.</p>
    <p align="center" class="bottom-three">&#8226 I received a <strong>Master</strong>´s degree from National Chiao Tung University.</p>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/computer2.png" alt="Computer Skills" width="80" height="80"></p>
    <p align="center">&#8226 I </p> 
    <p align="center" class="bottom-three">&#8226 I </p>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/business.png" alt="Conferences" width="70" height="70"></p>
    <p align="center">&#8226 I taught an undergraduate commerce course as a sessional instructor at McMaster University.</p>
    <P align="center" class="bottom-three">&#8226 I presented my papers at The International Atlantic Economic Society Conference and The Southwestern Finance Association Annual Conference</P>
      
    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/talk.png" alt="Languages" width="70" height="70"></p>
    <p align="center">&#8226 <strong>中文</strong>是我的母語。</p>
    <p align="center">&#8226 <strong>日本語</strong>を勉強しています。</p>
    <p align="center" class="bottom-three">&#8226 My <strong>English</strong> is fluent.</p>



<h4 style="margin-bottom:0px;padding-top:10px;">EDUCATION</h4>
<ul class="biblist">

<!-- Item: Liao2024 -->
<li ><p>
Ph.D. in Business Administration (Finance)
<br>June 2024<br>
<b>DeGroote School of Business, McMaster University</b>, Hamilton, ON, Canada<br>
Dissertation: Three Essays on Corporate Finance<br>
</p>
</li>

<!-- Item: Liao2007 -->
<li ><p>
M.Sc. in Finance</a>
<br>June 2007<br>
<b>Graduate Institute of Finance, National Chiao Tung University</b>, Hsinchu, Taiwan<br>
Thesis: The relationship between debt maturity structure and earnings management<br>
</p>
</li>

<!-- Item: Liao2005 -->
<li ><p>
B.A. in Political Science & Economics
<br>June 2005<br>
<b>National Taiwan University</b>, Taipei, Taiwan<br>
</p>
</li>
</ul>

<h4 style="margin-bottom:0px;padding-top:10px;">RESEARCH INTERESTS</h4>
<ul class="biblist">

<!-- Item: Liao2024 -->
<li ><p>
Corporate Finance: Dividend Policy, Capital Markets, Executive Compensation, Corporate Social Responsibility
</p>
</li>
</ul>  

<h4 style="margin-bottom:0px;padding-top:10px;">TEACHING INTERESTS</h4>
<ul class="biblist">

<!-- Item: Liao2024 -->
<li ><p>
Investments  
</p>
</li>
</ul>      

<h4 style="margin-bottom:0px;padding-top:10px;">RESEARCH</h4>
<ul class="biblist">

<!-- Item: Liao2024 -->
<li ><p>
<b>The curious case of one-dollar CEO salaries: Evidence from market reaction to salary decision announcements</b>
<br>
This essay examines the market reaction to the announcement of a $1 CEO salary decision and teases out the information in the announcement, using both explicit reasons for the decision and mechanisms for dealing with the base salary in CEO compensation packages.
</p>
</li>
<li ><p>
<b>The value of corporate social responsibility: Evidence from market reaction to data breach announcements</b>
<br>
This essay investigates the role of corporate social responsibility activities engaged in by public firms in the event of a data breach. Two CSR ratings are employed to differentiate the breached firms for examining the difference in the announcement-date stock abnormal returns between high and low CSR groups.
</p>
</li>
<li><p>
<b>Corporate operating performance following seasoned equity offerings: It pays to pay dividends</b>
<br>
This essay investigates the connection between dividend payouts and investments of seasoned equity offering (SEO) firms, analyzing how dividend payouts relate to post-issue investment and operating performance in terms of overinvestment.
</p>
</li>
</ul>

<h4 style="margin-bottom:0px;padding-top:10px;">TEACHING</h4>
<ul class="biblist">

<!-- Item: Liao2024 -->
<li ><p>
  
</p>
</li>
</ul>

<h4 style="margin-bottom:0px;padding-top:10px;">SKILLS</h4>
<ul class="biblist">

<!-- Item: Liao2024 -->
<li ><p>
<b>Languages</b>: English (Fluent), Mandarin (Native), Taiwanese (Native)
</p>
</li>
</ul>

<h4 style="margin-bottom:0px;padding-top:10px;">AWARDS AND HONOURS</h4>
<ul class="biblist">

<!-- Item: Liao2024 -->
<li ><p>
  
</p>
</li>
</ul>

<h4 style="margin-bottom:0px;padding-top:10px;">REFERENCES</h4>
<ul class="biblist">

<!-- Item: Liao2024 -->
<li ><p>
  
</p>
</li>
</ul>
  
    
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
