<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}

<h4 style="margin-bottom:0px;padding-top:10px;">Books</h4>
<ul class="biblist">

<!-- Item: Liao2023 -->
<li ><p>
Finance
</p>
  <ul><p>
    <li>A Random Walk Down Wall Street: The Best Investment Guide That Money Can Buy by Burton G. Malkiel</li>
    <li>Finance for Normal People: How Investors and Markets Behave by Meir Statman</li>
    <li>致富的特權：二十年來我們為央行政策付出的代價 by 陳虹宇, 吳聰敏, 李怡庭, 陳旭昇</li>
  </p>
  </ul>
</li>
<li ><p>
Fiction
</p>
  <ul><p>
    <li>Police Detective Kaga series by Keigo Higashino</li>
    <li>Detective novels by Agatha Christie</li>
  </p>
  </ul>
</li>
</ul>

<h4 style="margin-bottom:0px;padding-top:10px;">Movies</h4>
<ul class="biblist">
</ul>
  
<h4 style="margin-bottom:0px;padding-top:10px;">Photography</h4>
<ul class="biblist">
</ul>
      



      
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
